.lodges-layout{
  --gap:2rem;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  row-gap: var(--gap);
  margin-top: 2rem;
}

.lodges-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:var(--gap);
}



.lodges-cards .card {
  /* width: 260px; */
  height:260px;
}

.lodges-cards .card:hover {
  --op:.22;
  transform: translateY(-5px);
}



.lodges-cards .card-title {
  margin-block:.5rem;
  line-height:1.3rem;
  color:var(--black-color)
}

.lodges-cards .card-subtitle {
  margin-block: 0.25rem;
  font-size:1rem;
}