.activity{
  --location:"activity"
}

.activity-section {
  --spacing: 2.5rem;
  --gap: var(--spacing);
  --radius: 25px;
  margin-block: var(--spacing);
  padding: var(--spacing);
  border-radius: var(--radius);
  background: var(--block-bg-color);

  .content{
    --gap:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: var(--gap);

  }

  .title {
    margin-block:1rem;
  }

  img {
    border-radius: 0 var(--radius) var(--radius) 0;
  }

  .desc{
    padding:var(--padding-common);
    flex-grow:1;
    background:var(--white-color);
  }

}